<ion-app>
  <ion-menu menuId="main-manu" content-id="main" side="start" auto-hide="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="logout()">
         Logout
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  </ion-app>
