<ion-content [fullscreen]="true">
  
  <!-- Login Page -->
  <div class="container"  >

      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend> 
          <ion-input [(ngModel)]="registerdata.email" type="text" placeholder="email"></ion-input>
        </fieldset>
      </ion-item>
      <p ion-text class="error" *ngIf="registererror.email">
        <ion-text color="danger"> {{registererror.email}} </ion-text>
      </p>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input [(ngModel)]="registerdata.password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p ion-text class="error" *ngIf="registererror.password">
        <ion-text color="danger"> {{registererror.password}} </ion-text>
      </p>
      <ion-button class="login-button" (click)="register()"  id="open-loading" expand="block">Register</ion-button>        
    
 
  </div>
</ion-content>
<ion-loading trigger="open-loading" message="Loading..." duration="2000" class="custom-loading"></ion-loading>
