.ion-app-login-header{
    top: 20px;
    width: 100%;
}
.ion-app-logo{
    display: block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.heading{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: cadetblue;
    margin-top: 70px;
    margin-bottom: -60px;
}
.para{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
    color: #A6ABB1;
}
.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    ion-input{
        margin-top: -12px;
    }
}
.ion-item{
    margin-top: 20px;
}

.login-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
}
.google-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
    --box-shadow: none;
}
ion-col {
    color: #fff;
    text-align: center;
}

.pad-button{
    padding-left: 20px;
    padding-right: 20px;
}

.pad-text{
    padding-left: 20px;
    padding-right: 20px;
}

.register-text{
    margin-left: 22px;
}
ion-footer {
    display: block;
    // position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}
.copyright{
    text-align: center;
}    
.error
{
    margin-left: 25px;
}