<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="(page_name=='add')" style="text-align: center;">Add Employee</ion-title>
    <ion-title *ngIf="(page_name=='Edit')" style="text-align: center;">Edit Employee</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- 
     <ion-input class="outer_upload_input" accept="image/*" type="file"
      (change)="onChooseFiles($event )" >
      </ion-input>
      <ion-row>
        <ion-col size="1">
      <ion-icon name="folder" class="img_icon"></ion-icon>
    </ion-col>
    <ion-col size="11" style="margin-top: -8px;">
    </ion-col>
    </ion-row> -->

<div class="item profilepic-border" >
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-icon name="camera-outline" class="button profilebutton icon ion-camera" (click)="takePicture()"></ion-icon>
      <img
      class="profilepic padding-bottom"
        src="{{employeedata.image}}"
        onError="this.src = 'assets/images/no-avatar.png'" (click)="takePicture()" /> 
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

</div>
  <p ion-text class="error" *ngIf="employeeError.image">
    <ion-text color="danger"> {{employeeError.image}} </ion-text>
  </p>

  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>Name</legend>
      <ion-input [(ngModel)]="employeedata.name" type="text" placeholder="Enter your name"></ion-input>
    </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.name">
    <ion-text color="danger"> {{employeeError.name}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>Job title</legend>
      <ion-input [(ngModel)]="employeedata.job_title" type="text" placeholder="Enter your name"></ion-input>
    </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.job_title">
    <ion-text color="danger"> {{employeeError.job_title}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>Mobile</legend>
      <ion-input
      name="user_mobile"
      [(ngModel)]="employeedata.mobile"
      placeholder="Enter your Mobile"
      type="number">
    </ion-input>    </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.mobile">
    <ion-text color="danger"> {{employeeError.mobile}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>Email</legend>
      <ion-input
      name="user_email"
      [(ngModel)]="employeedata.email"
      placeholder="Enter your Email"
      type="text">
    </ion-input>
       </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.email">
    <ion-text color="danger"> {{employeeError.email}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>Address</legend>
      <ion-input
      name="user_address"
      [(ngModel)]="employeedata.address"
      placeholder="Enter your Address"
      type="text">
    </ion-input>
       </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.address">
    <ion-text color="danger"> {{employeeError.address}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item">
      <legend>User ID</legend>
      <ion-input
      name="user_ID"
      [(ngModel)]="employeedata.ID"
      placeholder="Enter your ID"
      type="number">
    </ion-input>
       </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.ID">
    <ion-text color="danger"> {{employeeError.ID}} </ion-text>
  </p>
  <ion-item lines="none" class="ion-item">
    <fieldset class="input-item1">
      <legend>Date of birth</legend>
      <ion-datetime
    [(ngModel)]="employeedata.Dateofbirth"
    presentation="date"
    mode="ios"
  ></ion-datetime>
       </fieldset>
  </ion-item>

  <p ion-text class="error" *ngIf="employeeError.Dateofbirth">
    <ion-text color="danger"> {{employeeError.Dateofbirth}} </ion-text>
  </p>
  <ion-button *ngIf="(page_name =='add')" class="add-button" (click)="addemployee()"   expand="block">Add</ion-button>
  <ion-button *ngIf="(page_name =='Edit')" class="add-button" (click)="editemployee()" expand="block">Edit</ion-button>



</ion-content>
