.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    margin-top: 10px;
    ion-input{
        margin-top: -12px;
    }
}
.input-item1{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    ion-input{
        margin-top: -12px;
    }
}
.add-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
}
.addimage {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    height: 100px;
    background: #fff;
    border-radius: 5px;
}
.user-img
{
    width: 100%;
    padding: 15px;
    border-radius: 50%;
}
.outer_upload_input {
    position: unset;
    overflow: hidden;
  }
  .error
{
    margin-left: 25px;
}
.profilebutton {
    z-index: 2;
    position: absolute;
    right: 20%;
    bottom: 8%;
    margin: auto;
    width: 40px;
    height: 40px;
}
.profilepic {
	border:1px solid #000;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
}
.profilepic-border {
	position: relative;
}