<ion-content [fullscreen]="true">
  
    <!-- Login Page -->
    <div class="container"  >
     
      
        <ion-item lines="none" class="ion-item">
          <fieldset  class="input-item">
            <legend>Email</legend> 
            <ion-input [(ngModel)]="logindata.email" type="text" placeholder="email"></ion-input>
          </fieldset>
        </ion-item>
        <p ion-text class="error" *ngIf="loginerror.email">
          <ion-text color="danger"> {{loginerror.email}} </ion-text>
        </p>
        <ion-item lines="none" class="ion-item">
          <fieldset class="input-item">
            <legend>Password</legend> 
            <ion-input [(ngModel)]="logindata.password" type="password" placeholder="*******"></ion-input>
          </fieldset>
        </ion-item>
        <p ion-text class="error" *ngIf="loginerror.password">
          <ion-text color="danger"> {{loginerror.password}} </ion-text>
        </p>
        <p class="register-text">I don't have an account <span (click)="register()" style="color:blue">Register</span></p>
        <ion-button class="login-button"  (click)="login()"  id="open-loading" expand="block">Login</ion-button>        
     
   
    </div>
  
  </ion-content>
  <ion-loading trigger="open-loading" message="Loading..." duration="2000" class="custom-loading"></ion-loading>
