<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-manu" autoHide="true" menuClose ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="search for employee" (ionClear)="onCancel($event)"  show-clear-button="focus" (ionInput)="handleInput($event)"></ion-searchbar>
  <ion-row *ngFor="let item of employees" (click)="details( item)">
    <ion-col size="4" class="user_img">
      <img 
      src="{{item.image}}" alt="item name"
      onError="this.src = 'assets/images/no-avatar.png'">
    </ion-col>
    <ion-col size="8">
    <p>{{item.name}}</p>
    <p>{{item.job_title}}</p>
    </ion-col>
   
  </ion-row>
</ion-content>
<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button (click)="addemployee()">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>