<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="edit()">
        <ion-icon name="create-outline"></ion-icon>      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="user_img"
  src="{{employee_data.image}}" alt="item name"
  onError="this.src = 'assets/images/no-avatar.png'">
  <h3 class="user_name">{{employee_data.name}}</h3>
  <h5 class="user_title">{{employee_data.job_title}}</h5>
  <div class="user_data">
  <p> address : {{employee_data.address}}</p>
  <p> mobile : {{employee_data.mobile}}</p>
  <p> email : {{employee_data.email}}</p>
  <p> ID : {{employee_data.ID}}</p>
  <p> Date of Birth : {{employee_data.Dateofbirth}}</p>
  </div>
</ion-content>
