.user_img
{
    border-radius: 50%;
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.user_name
{
    text-align: center;
    font-weight: bold;
}
.user_title
{
    text-align: center; 
}
.user_data
{
    margin-left: 15px;
    margin-top: 30px;
}
